$primary: teal;
@import "~bootstrap/scss/bootstrap";

#body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#back-level-select {
  position: absolute;
  z-index:2;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}